---
import Hero from "../components/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
import Pricing from "../components/Pricing.astro";
---
<html lang="en">
<head><meta charset="utf-8" /><title>Product</title></head>
<body>
  <Hero />
  <Testimonials />
  <Pricing />
</body>
</html>
